body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: azure;
    color: rgb(76, 76, 77);
}

button {
    background-color: #eef0da;
    font-family: Arial, sans-serif;
    font-size: large;
    color: rgb(76, 76, 77);
    font-style: italic;
}
